.item-product {
	margin-bottom: 10px;
	padding: 10px 10px 20px 0px;
}



.item-product-view {
	border-radius: 10px;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding: 3px;
	text-align: center;
}

.item-product-view img {
	height: 180px;
	cursor: pointer;
}

.item-product-view h3 {
	text-transform:uppercase;
	color: #000;
	font-size: 16px;
	height: 50px;
	padding: 0px 10px;
}

.item-price {
	font-size: 18px;
	padding-left: 10px;
	display: inline;
}

.item-price i {
	font-size: 14px;
}

.item-product-view a, .btn-basket {
	background: #07bc13;
    padding: 10px 25px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.btn-basket:hover {
	color: #eee;
	text-decoration: none;
}

.btn-basket:visited {
	text-decoration: none;
    color: #fff;
}

.btn-basket:disabled {
	color: #aaa;
}



.label-gram {
	position: absolute;
	right: 10px;
	bottom: 80px;
	font-size: 15px;
	background-color: #5bc0de;
	border-radius: 3px;
	color: #fff;
	padding: 2px 8px;
}

.label-gram-basket {
	position: absolute;
	right: 30px;
	top: 20px;
	font-size: 15px;
	background-color: #5bc0de;
	border-radius: 3px;
	color: #fff;
	padding: 2px 8px;
}

.modal-title {
    text-transform: uppercase;	
}





.table-basket th {
	border-bottom: 1px solid #aaa;

}

.table-basket th, td {
    padding: 10px;
    text-align: left;
}

.table-basket tr:nth-child(even) {
	background-color: #f2f2f2
}


.top-bar .top-right ul {
	list-style:none;
	margin:0px;
	padding:0px;
}

.top-bar i {
	font-size: 16px;
}

.top-bar li {
	padding-right: 30px;
}

.top-bar .top-right ul li {
	float:right;
	margin:0px 0px 0px 10px
}
.top-bar .top-right ul li a {
	color:#000
}


.basket-button {
	font-color: #fff;
	background-color: #07bc13;
	display: block;
	width: 72px;
	padding: 0px 10px;
	display: none;
}


.ui-header {
	font-size: 12px;
}

.min-sum {
	color: red;
	font-size: 18px;
}

.error {
	color: red;
	font-size: 20px;
}

.top-bar .search-beam,
.home-section .home-section-title:after,
a.hl-button,
.fdm-item-price-wrapper span,
#home-testimonials .owl-theme .owl-controls .owl-page.active span, #home-testimonials .owl-theme .owl-controls.clickable .owl-page:hover span,
#secondary .widget h2.widget-title:after,
#secondary .widget .tagcloud a,
.fdm-item-panel .fdm-item-title:after,
.squarebanner h3.sidetitl:after,
#comments ol.comment-list li .comment-body .reply a,
#comments #respond .comment-form p .submit:hover
{
	background: #07bc13!important;
}

#footer-widgets
{
	background: ;
}


/* Links */

a:link, a:visited {
	color: ;
}

a:hover,
a:focus,
a:active {
	color:;
	text-decoration: none;
}


.loading {
	border: 1px solid #aaa;
	border-radius: 10px;
	padding: 10px;
	background-color: #efefef;
	text-align: center;
}


.cat-a {
	cursor: pointer;
}